# Git configs & README files
.git
.gitignore
*.md

# Local dependencies, builds & tests
node_modules
dist*
.next
**/*.test.ts
coverage

# Logs
logs
*.log*

# Editor directories and files
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
**/.env*
